<div class="bg-dark text-light row">
  <h3>Be sure to follow me at:</h3>
  <br/>
  <div class="card bg-dark">
    <div class="card-body">
      <h5 class="card-title">GitHub</h5>
      <p class="card-text">You can see some off my projects in Github. I usually hang around GitHub more than other platform</p>
      <a href="https://github.com/Born-S1nner" class="btn btn-success">click here</a>
    </div>
  </div>
  <br/>
  <div class="card bg-dark">
    <div class="card-body">
      <h5 class="card-title">Heroku</h5>
      <p class="card-text">I don't use much on Heroku simply because Github makes things easier than Heroku. Regardless, I try using Heroku once in a while so check it out.</p>
      <a href="https://dashboard.heroku.com/apps" class="btn btn-success">click here</a>
    </div>
  </div>
  <br/>
</div>