<div class="bg-dark text-light row">
  <h3>Be sure to follow me at:</h3>
  <br/>
  <div class="card bg-dark" style="width: 40%;">
    <div class="card-body bg-success">
      <h5 class="card-title">GitHub</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">click here</a>
    </div>
  </div>

  <div class="card bg-dark" style="width: 40%;">
    <div class="card-body bg-success">
      <h5 class="card-title">GitHub</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">click here</a>
    </div>
  </div>
  <br/>
</div>