<div class="jumbotron">
  <h1 class="text-center display-4">All about Me!</h1>
  <ul class=" container list-group">
    <li class="list-group-item bg-white text-success">I have a youtube channel</li>
    <br/>
    <li class="list-group-item bg-white text-success">I play the keyboard</li>
    <br/>
    <li class="list-group-item bg-white text-success">I love playing soccer</li>
    <br/>
    <li class="list-group-item bg-white text-success">First started coding in 2018</li>
    <br/>
    <li class="list-group-item bg-white text-success">Working on project Redd at an early age</li>
    <br/>
    <li class="list-group-item bg-white text-success">I'm Hispanic and speak spanish as my second Language</li>
    <br/>
    <li class="list-group-item bg-white text-success">Chess is my go-to game</li>
    <br/>
</ul>
</div>