<div>
  <%= @game %>
  <br/>
  <button class="btn btn-secondary">Up</button>
  <button class="btn btn-secondary">Down</button>
  <button class="btn btn-secondary">Left</button>
  <button class="btn btn-secondary">right</button>
</div>