<div class="container text-center">
  <h2>C.S. Languages</h2>
  <div class="row border border-dark">
    <h4>HTML</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>CSS</h4>
    <p>
      The basic front-end language that allows you decorate your website. Instead of just font changes, CSS allows you to be creative with your website. I can see how people get intrested in Front-end designer. You can change positions, change color, add images, create animation, display your content at your will.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>JavaScript</h4>
    <p>
      The basic front-end language that gets you started with backend. It could act as a Backend by itself and I have tried playing with that idea. Simple functions and event listeners were enough to get me prepare for backend.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Node.js</h4>
    <p>
      The first actual backend that I have tried as a beginner, probably everyone else feels the same. Upon taking tutorial, I created a few blueprints that dealt with Node.js. One thing I learned about Node.js is that it was messy if I didn't sort it in different files and folders. Having all the data in one file is a mess and a recipe for catastrophe. The brightside is that I learn a thing or two about database.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>React</h4>
    <p>
      Stepping away from back end, I decided to learn a little about React.js. In my head, I thought that I would struggle after learning about Node.js. Instead, it was a few simple process of installation follow by few more topics and tools to learn. In a month, I felt confident with React and have tried to build a full stack website. I said "tried" because Node.js isn't powerful enough to actually handle the real deal. I needed something more powerful for Backend.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Python</h4>
    <p>
      I turn to Python as a essential key to few of my ideal full-stack project. Functions and routes were more cleaner and easier to handle as Python has few installments that handles them. Database were more complicated as they require certain installments and big brain to avoid errors and malfunctions. I struggle so much with Python, but I believe it would have been more simpler if I went to the basics. While the project isn't a success, I learn a lot about the limits of the human brain and computer's system.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Ruby</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
</div>