<div class="container text-center">
  <h2>C.S. Languages</h2>
  <div class="row border border-dark">
    <h4>HTML</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>CSS</h4>
    <p>
      The basic front-end language that allows you decorate your website. Instead of just font changes, CSS allows you to be creative with your website. I can see how people get intrested in Front-end designer. You can change positions, change color, add images, create animation, display your content at your will.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>JavaScript</h4>
    <p>
      The basic front-end language that gets you started with backend. It could act as a Backend by itself and I have tried playing with that idea. Simple functions and event listeners were enough to get me prepare for backend.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Node.js</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>React</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Python</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Ruby</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
</div>