<div class="container text-center">
  <h2>C.S. Languages</h2>
  <div class="row border border-dark">
    <div class="col border border-secondary">
      HTML
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
    <div class="col border border-secondary">
      CSS
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
    <div class="col border border-secondary">
      JavaScript
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
  </div>
  <div class="row border border-dark">
    <div class="col">
      Node.js
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
    <div class="col">
      React
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
    <div class="col">
      Python
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
  </div>
  <div class="row">
    <div class="col border border-dark">
      Ruby
      <p>asdfjkl;qewriopzcvnm,.asdfkl;</p>
    </div>
  </div>
</div>