<div class="container text-center">
  <h2>C.S. Languages</h2>
  <div class="row border border-dark">
    <h4>HTML</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>CSS</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>JavaScript</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Node.js</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>React</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Python</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
  <div class="row border border-dark">
    <h4>Ruby</h4>
    <p>
      The basic front-end language that acts as the starting block to the my Web Developer's journey. Despite being basic, HTMl has serve it's wonders and will continue to do so.
    </p>
  </div>
</div>