<h3>Mini-Display</h3>
<%= image_tag("bluebg.png") %>
<%= @figure %>
<br/>
<div class="border">
  <button class="btn btn-primary">These</button>
  <button class="btn btn-secondary">Buttons</button>
  <button class="btn btn-secondary">Do</button>
  <button class="btn btn-secondary">Nothing</button>
</div>
