<h3>Mini-Display</h3>
<div class="bg-white border position-relative" style="width: 100%; height: 300px;">
</div>
<br/>
<button class="btn btn-primary">uP</button>
<button class="btn btn-secondary">Down</button>
<button class="btn btn-secondary">Left</button>
<button class="btn btn-secondary">right</button>
